.DS_Store\
app/src/androidTest\
app/src/test\
app/release\
gradle\
linkedin-sdk/src/test
pickphotos/src/androidTest
pickphotos/src/test
sectionedrecyclerview/build
sectionedrecyclerview/src/androidTest
sectionedrecyclerview/src/test
.gradle
.idea
app/build
app.iml
linkedin-sdk/build
linkedin-sdk.iml
pickphotos/build
pickphotos.iml
*.iml
local.properties

build
app/release
gradle
app/aitlDefault
